<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>售后政策</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/afterSalePolicy.css"/>
</head>
<body>
	<div class="zjypWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="freeRegistrMain clearfix">
			<%-include footerLeftList  %>
			
			<div class="rContentWrap rFloat">
				<div class="title clearfix">
					<p>售后政策</p>
				</div>
				<div class="stepWrap">
					<div class="lineWrap">
						<h3>一、签收问题反馈时效</h3>
						<ol>
							<li>1、签收开包检查（收货时售后紧急电话：400-0626808），如有问题，需在订单商品物流送货完结，买家收到货之日起7日内提交售后单反馈问题（物流货损需24小时内提交物流异常签收单）；</li>
							<li>2、当面验收：为保障买家自身权益，筑家优品平台建议买家在签收商品前务必进行当面验收，如在验收过程中如发现外包装破损、商品出现破损、少件等问题，请自行拍照并做“异常签收”，保留相关证据，提交售后单核实处理；如买家未进行验收即做签收，将默认为买家已经对商品进行了当面验收；</li>
							<li>3、 委托他人代收：请务必告知被委托人签收标准，委托他人代收的行为视同于买家本人已对商品进行签收，买家不能因此拒收商品，若拒收，运费将由买家承担；</li>
							<li>4、 物流自提货时间：买家需要在接到提货电话之后3天内提走，超过3天未提走产生的仓储费用及货损，买家自行承担；</li>
							<li>5、如果选择平台系统指定物流发货，在物流点检查反馈的所有物流货损责任和费用，由平台统一承担并有客服专员跟进售后处理！</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>二、售后反馈资料</h3>
						<ol>
							<li>1、外包装：整体照片、局部照片、生产批号照片</li>
							<li>2、问题产品：整体照片、局部照片、问题处参考尺寸</li>
							<li>3、售后描述内容：问题部位，数量，原因，处理需求方案</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>三、售后处理流程</h3>
						<ol>
							<li>1、买家提交售后单，卖家会在两个工作时内尽快回复</li>
							<li>2、 “个人中心——我的订单——订单详情”可查看售后进度</li>
							<li>3、筑家优品平台鼓励买卖双方协商解决</li>
							<li>4、如遇纠纷问题，会由平台质检针对售后单已有信息图片，进行专业判定评测</li>
							<li>5、平台客服会根据质检判定建议确认合理售后解决方案</li>
							<li>6、 执行售后方案时，若涉及费用，需在售后单内双方予以确认</li>
							<li>7、如涉及已确认维修费用清算，买家需7-10天内维修后提交费用凭证，便于卖家及时处理。</li>
							<li>8、当售后完成后，卖家会出发售后完结请求给买家，分多次短信提醒买家完结并评分，如果买家未处理，售后单会在售后完成15天后自动完结。</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>四、补件</h3>
						<ol>
							<li>1、免费补件范围：卖家少件错件漏件，灯具快递破损，产品本身质量问题，已做“异常签收”的卖家直发物流货损；</li>
							<li>2、由于买家不配合、忽略或失误原因，没有一次性核实清楚产品已有售后问题，造成卖家两次及以上补件或上门维修，卖家配合免费补件产品，但是额外的配送安装费用由买家承担；</li>
							<li>3、定制所有补单的运输费用由买家承担</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>五、维修</h3>
						<ol>
							<li>1、产品本身质量问题、结构问题，卖家承担全部费用。</li>
							<li>2、因大件家具物流成本极高。如出现零部件质量问题，优先以补件、维修为主；玻璃制品和易损制品局部损坏，可由卖家直接补寄，无需全部退回。</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>六、赔偿</h3>
						<ol>
							<li>卖家责任，商品已不可维修、补件，买家可申述赔偿，经双方协商，确认赔偿费用</li>
							<li> （额外金额，涉及赔付不高于该商品实际成交货款金额的20%，最高不超过1000元）</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/afterSalePolicy.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>