<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>全屋定制</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/qwdz.css" />
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="qwdzWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="qwdzMain">
			<div class="banner">
				<img src="images/qwdz_bg.png"/>
				<div class="searchWrap">
					<h3>一对一定制全屋设计</h3>
					<input type="text" placeholder="请输入您的姓名" class="username" v-model="name" />
					<input type="text" placeholder="请输入您的手机号码" class="phone" v-model="phone" />
					<button @click="addCustomizationInfo()">立即申请</button>
				</div>
				<div class="blackMask"></div>
			</div>
			<div class="content">
				<div class="egPicList">
					<a href="xxsj.html"><img src="images/eg.jpg"/></a>
					<a href="xxsj.html"><img src="images/eg.jpg"/></a>
					<a href="xxsj.html"><img src="images/eg.jpg"/></a>
					<a href="xxsj.html"><img src="images/eg.jpg"/></a>
					<a href="xxsj.html"><img src="images/eg.jpg" style="margin-right: 0;" /></a>
				</div>
				
				<!--预见未来的家开始-->
				<div class="meetFutureHome">
					<div class="recommendHeadlines">
						<span class="lLine"></span>
						<h2>预见未来的家</h2>
						<span class="rLine"></span>
						<p class="subtitle">MEET YOUR FUTURE HOME</p> 
					</div>
					
					<p class="title clearfix">
						<span class="gray" v-if="!firTitle" @click="firTitleClick()">两房两厅全屋定制</span>
						<span class="red" v-if="firTitle">两房两厅全屋定制</span>
						
						<span class="gray" v-if="!secTitle" @click="secTitleClick()">三房两厅全屋定制</span>
						<span class="red" v-if="secTitle">三房两厅全屋定制</span>
						
						<span style="margin-right: 0;" class="gray" v-if="!thrTitle" @click="thrTitleClick()">四房两厅全屋定制</span>
						<span style="margin-right: 0;" class="red" v-if="thrTitle">四房两厅全屋定制</span>
					</p>
					<p class="subtitle clearfix">
						<span class="gray" v-if="!firSubTitle" @click="firSubTitleClick()">户型图</span>
						<span class="red" v-if="firSubTitle">户型图</span>
						
						<span class="gray" v-if="!secSubTtile" @click="secSubTtileClick()">客餐厅效果图</span>
						<span class="red" v-if="secSubTtile">客餐厅效果图</span>
						
						<span class="gray" v-if="!thiSubTitle" @click="thiSubTitleClick()">主卧效果图</span>
						<span class="red" v-if="thiSubTitle">主卧效果图</span>
						
						<span class="gray" v-if="!fouSubTitle" @click="fouSubTitleClick()">次卧效果图</span>
						<span class="red" v-if="fouSubTitle">次卧效果图</span>
						
						<span class="gray" v-if="!fiveSubTitle" @click="fiveSubTitleClick()">儿童房效果图</span>
						<span class="red" v-if="fiveSubTitle">儿童房效果图</span>
						
						<span class="gray" v-if="!sixSubTitle" @click="sixSubTitleClick()">书房效果图</span>
						<span class="red" v-if="sixSubTitle">书房效果图</span>
					</p>
					
					<!--设计图-->
					<div class="designSketchWrap">
						<div class="designSketch clearfix">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img src="images/headImg.jpg" /></div>
									<div class="swiper-slide"><img src="images/banner_3.png" /></div>
									<div class="swiper-slide"><img src="images/qwdz_bg.png" /></div>
								</div>
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>
							</div>
						</div>
					</div>
				</div>
				<!--预见未来的家结束-->
				
				<!--了解未来的家开始-->
				<div class="knowFutureHome">
					<div class="recommendHeadlines">
						<span class="lLine"></span>
						<h2>了解未来的家</h2>
						<span class="rLine"></span>
						<p class="subtitle">KNOW YOUR FUTURE HOME</p> 
					</div>
					<ul class="clearfix">
						<li><a href="#"><img src="images/qwdz_1.png"/></a></li>
						<li><a href="#"><img src="images/qwdz_1.png"/></a></li>
						<li style="margin-right: 0;"><a href="#"><img src="images/qwdz_1.png"/></a></li>
					</ul>
				</div>
				<!--了解未来的家结束-->
				
				<!--定制未来的家开始-->
				<div class="customFurniture">
					<div class="recommendHeadlines">
						<span class="lLine"></span>
						<h2>定制未来的家</h2>
						<span class="rLine"></span>
						<p class="subtitle">CUSTOM FURNITURE</p> 
					</div>
					<img src="images/furnitureHome.png"/>
				</div>
				<!--定制未来的家结束-->
			</div>
		</div>
		
		<%-include paging  %>
		<%-include footer  %>
	</div>
	
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/qwdz.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>