<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>收货指南</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/receiptGuide.css"/>
</head>
<body>
	<div class="zjypWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="freeRegistrMain clearfix">
			<%-include footerLeftList  %>
			
			<div class="rContentWrap rFloat">
				<div class="title clearfix">
					<p>收货指南</p>
				</div>
				<div class="stepWrap">
					<div class="lineWrap">
						<h3>关于货期</h3>
						<ol>
							<li>1、家具属大件、生产定制产品，现货商品有备货期，一般在下单付款后3-7天内安排发货； 非现货商品，在付款成功后下单安排生产，生产周期视不同类型产品会有较大差异，15-45天不等，详情可咨询在线客服。如果有断况， 我们会及时与您联系，由于家具生产的特殊性，货期会常有浮动，以客服通知您为准。</li>
							<li>2、生产周期内特殊定制产品不接受退换货</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>关于配送</h3>
						<ol>
							<li>1、家具属大件重货，只能发专线物流或大型中转物流，因此无法实时跟踪运输情况，我们会在发货当天和大致到货日跟您电话提醒， 请理解。</li>
							<li>2、产品送货之前，第三方配送商会与您预约送货时间，请您在收到通知一个月内及时收货，不要无故拖延收货，如确有特殊情况不能及时 收货，请及时联系筑家优品客服为您协调安排。</li>
							<li>3、请就您收货地址的特殊情况（垄断搬运服务，电梯或楼道太窄小，房门太窄，施工故障，道路修建，交通管制，小区不支持货车进入/停 留等）事先与筑家优品客服沟通，以免后期服务（送货至楼下或上门）无法进行或正常完结，若您坚持服务继续进行，需按市价支付额外费用。</li>
							<li>4、配送到楼下或上门服务不包括高空作业与吊装服务，送货上楼服务如遇无电梯或电梯无法使用需要支付一定的上楼费用；如货车无法驶 入小区楼下，您还需要支付一定的重货地面平移费用。</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>关于签收</h3>
						<ol>
							<li>1、筑家优品商城配送商品均经过仔细检查后发货，出货前保证外包装良好。</li>
							<li>2、请您在提货、签收货物前，就签单时的依据如产品名称、商标、型号、规格、颜色、方向、数量等来进行验收。</li>
							<li>3、签收时请仔细检查外包装是否完好，尽可能先对外包装拍照。如外包装出现磨损或者刮蹭请一定拆箱验货，运输中出现的货物损坏如不 检查直接签收物流公司是拒绝赔偿的，请您一定仔细检查。</li>
							<li>4、如果出现商品缺少、配送错误、包装破损问题等，请拨打筑家优品客服热线400-0626808，待客服确认后，可将整单商品由快递公司退回， 物流公司返回后我们会重新发货或补发配件。</li>
							<li>5、在外包装完整的情况下，特殊问题与您充分沟通后，请勿因个人意愿等原因无故拒收，因此产生的所有费用由买家承担。</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>关于售后</h3>
						<ol>
							<li>当您在收到产品后有任何问题，请及时拨打客服热线400-0626808，我们将及时为您处理。</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>关于退换货</h3>
						<ol>
							<li>详情点击退换货办理。</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>其他事宜</h3>
						<ol>
							<li>1、家具属大件重货，根据订单即时生产出货，难免会有少许气味（购买回去需通风处理）。</li>
							<li>2、物流运输途中难免出现刮碰，偶尔会有细微划痕或小瑕疵，此情况不属于质量问题。</li>
							<li>3、产品均为实物拍摄，但由于拍摄技术、光线、显示器参数等因素影响，收到的实物颜色与照片会有些许差别，请以实物为准。</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/receiptGuide.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>