<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>退换货办理</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/returnGoods.css"/>
</head>
<body>
	<div class="zjypWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="freeRegistrMain clearfix">
			<%-include footerLeftList  %>
			
			<div class="rContentWrap rFloat">
				<div class="title clearfix">
					<p>退换货办理</p>
				</div>
				<div class="stepWrap">
					<div class="lineWrap">
						<h3>一、退换货反馈时效</h3>
						<ol>
							<li>1、退换货：订单商品送货完结，买家收到货之日起15日内可提交售后单申请退换货（产品需保留原厂包装且未安装不影响二次销售）；</li>
							<li>2、电器按照国家三包（7天退货、15天换货、1年保修）政策执行；</li>
							<li>3、保修：订单商品送货完结，买家收到货之日起1年内商品存在质量问题，卖家可提供保修服务，不再接受商品退换货；</li>
							<li>4、改色、改尺寸、改面料、定制类等商品不支持退换货服务；</li>
							<li>5、如售后单，卖家同意退换货，则买家需在双方确认的承诺时间内打包寄回商品，如逾期未打包商品，拖延未退回，视为放弃退换货服务；</li>
							<li>6、因大件家具物流成本极高。如出现部件质量问题，优先以补件、维修为主，卖家全面保障品质，无需全部退回。如若未协商自行拒收返货处理，可能造成产品货损遗失，买家承担额外高额费用；</li>
							<li>7、 如若家具表面小问题，可以通过补件、换货后达到产品完整品质，而买家执意强行全部退货，即浪费时间成本，又浪费配送成本，建议买家优先在售后单协商相关费用；</li>
							<li>8、收货时售后问题紧急电话：400-0626808</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>二、退换货条件</h3>
						<ol>
							<li>1、退货,需要买家保持商品本身完好，须商品未安装、未使用，且不影响二次销售；</li>
							<li>2、商品表面无划痕、无磨（破）损、无磕碰、无使用、无拆卸等痕迹；</li>
							<li>3、体验馆特卖商品、特价、赠品、订制品、秒杀、团购、限购等特殊商品，以及有“不予退换”及相关明确标示的商品均视作处理品，不予退换；</li>
							<li>4、原包装、附件、赠品等不完整、人为损坏的商品不予退换；</li>
							<li>5、安装或使用过的商品不予退换（质量问题除外）；</li>
							<li>6、任何非正常使用及保管导致出现问题的商品不予退换；</li>
							<li>7、未经筑家优品授权，私自维修、改动、不正确安装造成的问题商品不予退换；</li>
							<li>8、超过退换期限的商品不予退换；</li>
							<li>9、卖家在产品详情页备注了不支持无理由退换货的情况，对于已发货的产品不支持退换货；</li>
							<li>10、若买家自行返货，货物返回到卖家本站收货地址后相关人员进行货物验收：</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3 style="padding: 0 2.666666rem;">温馨提示</h3>
						<ol>
							<li>1、卖家有如实描述商品的义务，如因卖家原因导致商品尺寸错误、或者商品样式、材质及服务标准与页面不符，卖家应按照页面描述履约，如买家需要退货或者换货，产生的退换货运费应由卖家承担；</li>
							<li>2、因拍摄设备、光线、显示器等原因均会产生色差，故色差问题不属于商品质量问题；</li>
							<li>3、因商品测量标准不一致导致的尺寸问题、尺寸误差在相关标准规定的的范围内，则不属于商品质量问题；</li>
						</ol>
					</div>
					
					<div class="lineWrap">
						<h3>三、卖家商品售后服务运费规则</h3>
						<div class="tableWrap">
							<ul class="clearfix">
								<li>退换类别</li>
								<li>是否支持退换货</li>
								<li>邮费承担方</li>
								<li>具体描述</li>
							</ul>
							<ul class="clearfix">
								<li>国家法律所规定的功能性故障或商品质量问题</li>
								<li>是</li>
								<li>卖家</li>
								<li>经由生产厂家和筑家优品质检确认或国家质量监督检验中心检测确认，并出具检测报告。属于商品质量问题。</li>
							</ul>
							<ul class="clearfix">
								<li>商品描述与网站不符、发错货等情况</li>
								<li>是</li>
								<li>卖家</li>
								<li>因拍摄灯光及不同显示器分辨率等原因造成的商品图片与实物的色差问题及产品生产尺寸在我司规定误差内的问题除外。</li>
							</ul>
							<ul class="clearfix">
								<li>个人原因</li>
								<li>是</li>
								<li>买家</li>
								<li>不喜欢、放不下、尺寸不合适、色差等问题</li>
							</ul>
							<ul class="clearfix">
								<li>发货原因</li>
								<li>是</li>
								<li>买家</li>
								<li>因无法接受发货时间但是实物已发出而导致的退换货问题</li>
							</ul>
							<ul class="clearfix">
								<li>卖家直发物流货损</li>
								<li>是</li>
								<li>买家</li>
								<li>买家需拆包检查，货损严重直接拒收，轻微货损包装破损变形，请做 “异常签收”，并把相关资料图片24小时内反馈售后单，卖家直发物流承担货损</li>
							</ul>
							<ul class="clearfix">
								<li>买家合作物流货损</li>
								<li>是</li>
								<li>买家</li>
								<li>买家直接联系合作物流公司对接处理售后，工厂不承担任何费用，维修费用买家找物流报，补件的话需要付费补件，返厂维修需要买家找合作物流承担相关费用</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/afterSalePolicy.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>