<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>购物流程</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/shoppingProcess.css"/>
</head>
<body>
	<div class="zjypWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="freeRegistrMain clearfix">
			<%-include footerLeftList  %>
			
			<div class="rContentWrap rFloat">
				<div class="title clearfix">
					<p>购物流程</p>
				</div>
				<div class="stepWrap">
					<div>
						<h3>账户注册</h3>
						<p>填写手机号，设置个人专属密码，同意协议，提交完成注册</p>
					</div>
					<img src="images/shoppingProcess.png"/>
					<div>
						<h3>查找商品</h3>
						<p>分类浏览或者直接搜索来查找喜欢的宝贝</p>
					</div>
					<img src="images/shoppingProcess.png"/>
					<div>
						<h3>加入购物车</h3>
						<p>商品加入购物车后去结算或者继续购物</p>
					</div>
					<img src="images/shoppingProcess.png"/>
					<div>
						<h3>提交订单</h3>
						<p>选择收货地址、支付方式、配送方式，提交订单</p>
					</div>
					<img src="images/shoppingProcess.png"/>
					<div>
						<h3>订单支付</h3>
						<p>提交订单24小时内完成支付，逾期订单自动取消</p>
					</div>
					<img src="images/shoppingProcess.png"/>
					<div>
						<h3>送货上门</h3>
						<p>专业物流快递配送，现货极速达</p>
					</div>
					<img src="images/shoppingProcess.png"/>
					<div>
						<h3>收货后评价</h3>
						<p>收货确认后，个人账号登录官网可对商品进行评价</p>
					</div>
				</div>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/shoppingProcess.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>