<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>商品详情</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/spxq.css" />
		<link rel="stylesheet" type="text/css" href="css/magnifier.css"/>
		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/magnifier.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>

		<div class="spxqWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="spxqMain">
				<div class="content">
					<div class="boxWrap clearfix">
						<div class="lFloat boxLeft">
							<div class="magnifier" id="magnifier1">
								<div class="magnifier-container">
									<div class="images-cover"></div>
									<!--当前图片显示容器-->
									<div class="move-view"></div>
									<!--跟随鼠标移动的盒子-->
								</div>
								<div class="magnifier-assembly">
									<div class="magnifier-btn">
										<span class="magnifier-btn-left">&lt;</span>
										<span class="magnifier-btn-right">&gt;</span>
									</div>
									<!--按钮组-->
									<div class="magnifier-line">
										<ul class="clearfix animation03">
											<li v-for="item in goodsImgArr">
												<div class="small-img">
													<img :src="item.img_url" />
												</div>
											</li>  
										</ul>
									</div>
									<!--缩略图-->
								</div>
								<div class="magnifier-view"></div>
								<!--经过放大的图片显示容器-->
							</div>
						</div>
						<div class="rFloat information">
							<h3>{{goodsDetailArr.goods_name}}</h3>
							<div class="priceWrap">
								<span class="tip">价格</span>
								<p class="money"><span>¥</span>{{goodsDetailArr.shop_price_1}}</p>
								<p class="tradeSucc rFloat">
									<span class="num">{{showItemNumDetail.sold_num}}</span><br />
									<span class="text">交易成功</span>
								</p>
								<p class="line rFloat"></p>
								<p class="comment rFloat">
									<span class="num">{{showItemNumDetail.commentCount}}</span><br />
									<span class="text">累计评价</span>
								</p>
							</div>

							<!--属性-->
							<div class="standardWrap clearfix" v-for="item in newAttrInfo">
								<span class="tip" v-for="i in item">{{i.attr_name}}</span>
								<p class="label rFloat">
									<span v-for="y in item">
										<em v-for="p in y.attr_info" @click="goodsFilter(p.goods_id)">
											<i v-if="p.is_select!=1">{{p.attr_value}}</i>
											<i style="border-color: #cd2f1d;" v-if="p.is_select==1">{{p.attr_value}}</i>
										</em>
									</span>
								</p>
							</div>

							<div class="numberWrap clearfix">
								<span class="tip lFloat">数量</span>
								<div class="number clearfix">
									<p class="reduce lFloat" @click="changeShoppingNum(1)">
										<img src="images/jian.png" />
									</p>
									<input type="text" class="text lFloat" @input="limitShoppingNum(1)" v-model="shoppingNum" />
									<p class="add lFloat" @click="changeShoppingNum(2)">
										<img src="images/jia.png" />
									</p>
								</div>
							</div>

							<div class="buttonWrap">
								<a href="jsy.html" class="nowBuy">立即购买</a>
								<p class="mask"></p>
								<a :href="addShoppingPage" class="addToCart" target="_blank"><img src="images/cart.png" />加入购物车</a>
							</div>
						</div>
					</div>
					
					<!--搭配套餐-->
					<div class="collocationMeal">
						<p class="title" v-if="newSuitDetail.length!=0">
							<span>搭配套餐</span>
						</p>
						<div class="mealBox clearfix" v-for="item in newSuitDetail">
							<ul class="clearfix lFloat">
								<li v-for="(i,index) in item">
									<p class="lFloat suitbox" @click="goodsDetail(i.goods_id)">
										<img :src="i.goods_pic"/>
										<span class="name">{{i.goods_name}}</span>
										<span class="money">¥{{i.goods_price|money}}</span>
									</p>
									<img src="images/mealJia.png" class="addSymbol lFloat" />
								</li>
							</ul>
							
							<div class="addCartWrap rFloat">
								<p class="mealPrice">套餐价：¥{{item[0].suit_price}}</p>
								<p class="savePrice">节省：¥{{item[0].save_price}}</p>
								<button>加入购物车</button>
							</div>
						</div>
					</div>
					
					<!--商品介绍-->
					<div class="goodsIntroduceWrap">
						<p class="title">
							<span v-if="!goodsIntroduceBtn" @click="goodsIntroduceClick()">商品介绍</span>
							<span style="background: #cd2f1d;color: #FFFFFF;" v-if="goodsIntroduceBtn">商品介绍</span>
							<span v-if="!goodsCommentBtn" @click="goodsCommentClick()">商品评论({{showItemNumDetail.commentCount}})</span>
							<span style="background: #cd2f1d;color: #FFFFFF;" v-if="goodsCommentBtn">商品评论({{showItemNumDetail.commentCount}})</span>
							<button class="rFloat">加入购物车</button>
						</p>
						
						<!--商品介绍-->
						<div class="goodsIntroduce">
							<div class="text">
								<p>
									<span v-for="item in goodsAttrArr">{{item.attr_name}}：{{item.attr_value}}</span>
								</p>
							</div>
							<div class="picShow" id="picShow">
								<!--{{goodsDetailPic}}-->
							</div>
						</div>
						
						<!--<iframe :src="goodsDetailArr.goods_desc_url" scrolling="no" frameborder="0" class="includeContent" style="border: none;" height="100%" width=""></iframe>-->
						
						<!--基本信息-->
						<div class="basicMsg">
							<p class="title">基本信息</p>
							<ul>
								<li v-for="item in goodsAttrArr">
									<span>{{item.attr_name}}：</span>
									<span>{{item.attr_value}}</span>
								</li>
							</ul>
						</div>
						
						<!--商品评论-->
						<div class="goodsComment">
							<p class="title">
								<span>商品评论</span>
							</p>
							<!--好评度-->
							<div class="goodComment">
								<div class="lFloat">
									<p>好评度</p>
									<p>97<span>%</span></p>
								</div>
								<div class="lFloat">
									<span>质量不错 ( 2 )</span>
									<span>质量不错 ( 2 )</span>
									<span>质量不错 ( 2 )</span>
								</div>
							</div>
							
							<p class="commentChose">
								<span>全部 ( 22 )</span>
								<span>好评 ( 22 )</span>
								<span>中评 ( 22 )</span>
								<span>差评 ( 22 )</span>
								<span>有图 ( 22 )</span>
							</p>
							
							<div class="commentContent">
								<div class="box clearfix">
									<div class="lFloat">
										<img src="images/eg.jpg"/>
										<p>风***子</p>
									</div>
									<div class="lFloat">
										<p class="starEvaluate">
											<img src="images/star.png"/>
											<img src="images/star.png"/>
											<img src="images/star.png"/>
										</p>
										<p class="text">京东自营的送货速度和安装速度，真的非常给力，3.10号11点购买，刚刚购买不到半个小时，就有当地的客服联系送货时间，我预约的是3.11 号上午送货；刚刚预约完送货时间，等到下午的时候，安装师傅又要预约安装时间了，本来系统预约的是3.12号，但安装师傅说3.11号上午就有空安装！等到3.11号收到货，没过半个小时安装人员就上门了，真的是没有想到这么快啊，从购买到安装到墙上不到15个小时，这样的速度和服务也只有京东才能做到，给一百个赞！ 这款电视的性价比非常高，曲面屏，看着霸气，做工也很精致，银色边框挂在客厅非常大气，2G运行内存特别流畅，画面非常清晰，音质也很满意。海信品牌，值得信赖，谁买谁知道！</p>
										<p class="allPicShow">
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
										</p>
										<p class="info">
											<span>1.8*2.0M单床</span>
											<span class="time">2018-04-07 18:25</span>
										</p>
									</div>
								</div>
								
								<div class="box clearfix">
									<div class="lFloat">
										<img src="images/eg.jpg"/>
										<p>风***子</p>
									</div>
									<div class="lFloat">
										<p class="starEvaluate">
											<img src="images/star.png"/>
											<img src="images/star.png"/>
											<img src="images/star.png"/>
										</p>
										<p class="text">京东自营的送货速度和安装速度，真的非常给力，3.10号11点购买，刚刚购买不到半个小时，就有当地的客服联系送货时间，我预约的是3.11 号上午送货；刚刚预约完送货时间，等到下午的时候，安装师傅又要预约安装时间了，本来系统预约的是3.12号，但安装师傅说3.11号上午就有空安装！等到3.11号收到货，没过半个小时安装人员就上门了，真的是没有想到这么快啊，从购买到安装到墙上不到15个小时，这样的速度和服务也只有京东才能做到，给一百个赞！ 这款电视的性价比非常高，曲面屏，看着霸气，做工也很精致，银色边框挂在客厅非常大气，2G运行内存特别流畅，画面非常清晰，音质也很满意。海信品牌，值得信赖，谁买谁知道！</p>
										<p class="allPicShow">
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
										</p>
										<p class="info">
											<span>1.8*2.0M单床</span>
											<span class="time">2018-04-07 18:25</span>
										</p>
									</div>
								</div>
								
								<div class="box clearfix">
									<div class="lFloat">
										<img src="images/eg.jpg"/>
										<p>风***子</p>
									</div>
									<div class="lFloat">
										<p class="starEvaluate">
											<img src="images/star.png"/>
											<img src="images/star.png"/>
											<img src="images/star.png"/>
										</p>
										<p class="text">京东自营的送货速度和安装速度，真的非常给力，3.10号11点购买，刚刚购买不到半个小时，就有当地的客服联系送货时间，我预约的是3.11 号上午送货；刚刚预约完送货时间，等到下午的时候，安装师傅又要预约安装时间了，本来系统预约的是3.12号，但安装师傅说3.11号上午就有空安装！等到3.11号收到货，没过半个小时安装人员就上门了，真的是没有想到这么快啊，从购买到安装到墙上不到15个小时，这样的速度和服务也只有京东才能做到，给一百个赞！ 这款电视的性价比非常高，曲面屏，看着霸气，做工也很精致，银色边框挂在客厅非常大气，2G运行内存特别流畅，画面非常清晰，音质也很满意。海信品牌，值得信赖，谁买谁知道！</p>
										<p class="allPicShow">
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
											<img src="images/eg.jpg"/>
										</p>
										<p class="info">
											<span>1.8*2.0M单床</span>
											<span class="time">2018-04-07 18:25</span>
										</p>
									</div>
								</div>
							<%-include paging  %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%-include footer  %>
		</div>

		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/spxq.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>