<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>线下体验馆</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/xxtyg.css" />
		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SxdEDHAF5Yuggm8toF68Cpj8NCU9OU5P"></script>
	</head>

	<body>
		<div class="ptfaWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="xxtygMain">
				<img src="images/xxtyg_bg.png" class="banner" />
				<div class="locationTitle">
					<img src="images/location.png" />
					<p><span>{{province}}</span>共有<span>{{storeTotal}}</span>个体验馆</p>
					<select name="" class="rFloat" @change="showStoreList(province)"  v-model="province">
						<option :value="item" v-for="item in storeProvinceList">{{item}}</option>
					</select>
				</div>

				<div class="tygLocation">
					<p class="title">体验馆地址</p>
					<div class="mapWrap clearfix">
						<div class="mapBox lFloat" id="allmap"></div>
						<div class="appointmentWrap lFloat">
							<div class="appointment" style="background: #b31200;" v-for="(item,index) in storeList" v-if="index%2==0" @click.self="storeListClick($event,item.address,item.name,1)">
								<div class="front" @click.self="storeListClick($event,item.address,item.name,2)">
									<div class="top" :data-address = "item.address" @click.self="storeListClick($event,item.address,item.name,3)">
										<h3 @click.self="storeListClick($event,item.address,item.name,4)">{{item.name}}</h3>
										<p class="place">
											<img src="images/place.png" />
											<span>门店地址：</span> {{item.address}}
										</p>
										<p class="phone">
											<img src="images/phone.png" />
											<span>联系电话：</span> {{item.phone}}
										</p>
									</div>
									<button @click="experienceFn(true,0)">立即预约</button>
									<p class="line"></p>
								</div>
								<div class="behind">
									<img src="images/xxtyg_ew.png" />
								</div>
							</div>
							
							<div class="appointment" v-for="(item,index) in storeList" v-if="index%2!=0" @click.self="storeListClick($event,item.address,item.name,1)">
								<div class="front" style="border-bottom: 0;" @click.self="storeListClick($event,item.address,item.name,2)">
									<div class="top" :data-address = "item.address" @click.self="storeListClick($event,item.address,item.name,3)">
										<h3 @click.self="storeListClick($event,item.address,item.name,4)">{{item.name}}</h3>
										<p class="place">
											<img src="images/place.png" />
											<span>门店地址：</span> {{item.address}}
										</p>
										<p class="phone">
											<img src="images/phone.png" />
											<span>联系电话：</span> {{item.phone}}
										</p>
									</div>
									<button @click="experienceFn(true,1)">立即预约</button>
									<p class="line"></p>
								</div>
								<div class="behind">
									<img src="images/xxtyg_ew.png" />
								</div>
							</div>
							
							<div class="storePagingWrap">
								<div class="storePaging"></div>
							</div>
						</div>
					</div>
				</div>

				<!--近期活动-->
				<div class="recentActivity">
					<p class="title">近期活动</p>
					<div class="boxWrap clearfix" v-for="item in activityList">
						<div class="box lFloat">
							<h3>{{item.title}}</h3>
							<p class="time"><img src="images/playtime.png" />{{item.beginTime|dateFormat}} - {{item.endTime|dateFormat}}</p>
							<p class="place"><img src="images/place.png" />{{item.address}}</p>
							<button @click="activityFn(true,0)">我要参加</button>
						</div>
						<img :src="item.activityImg" class="rFloat showPic" />
					</div>
				</div>

				<!--活动报名弹框-->
				<div class="informationBox activity" v-if="activity">
					<p class="title clearfix">
						<span class="lFloat">活动报名</span>
						<img src="images/close_del_box.png" class="rFloat" @click="activityFn(false,0)" />
					</p>
					<p class="name">
						筑家优品活动报名
					</p>
					<div class="formWrap">
						<form action="" method="post">
							<input type="text" placeholder="请输入您的姓名" v-model="activeName" />
							<input type="text" placeholder="请输入您的手机号码" v-model="activePhone" />
						</form>
						<button @click="activityFn(true,1)">立即报名</button>
					</div>
				</div>
				
				<!--体验馆预约弹框-->
				<div class="informationBox activity" v-if="experience">
					<p class="title clearfix">
						<span class="lFloat">体验馆预约</span>
						<img src="images/close_del_box.png" class="rFloat" @click="experienceFn(false,0)" />
					</p>
					<p class="name">
						筑家优品{{province}}体验馆
					</p>
					<div class="formWrap">
						<form action="" method="post">
							<input type="text" placeholder="请输入您的姓名" v-model="freeName" />
							<input type="text" placeholder="请输入您的手机号码" v-model="freePhone" />
						</form>
						<button @click="experienceFn(true,1)">免费预约</button>
					</div>
				</div>
				<div class="xxtygMask" v-if="activity||experience"></div>
			</div>
			<%-include paging  %>
			<%-include footer  %>
		</div>

		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/xxtyg.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>