<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>筑家汇</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/zjh.css"/>
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/distpicker.data.js"></script>
	<script src="js/lib/distpicker.js"></script>
</head>
<body>
	
	<div class="zjshjWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="zjshjMain">
			<img src="../build/images/zjh_banner.png" class="banner"/>
			
			<div class="content">
				<div class="clearfix box">
					<div class="lFloat formMsg">
						<h3>设计师俱乐部</h3>
						<form action="" method="post" id="designerForm">
							<p><span>姓名</span><input type="text" placeholder="请输入您的姓名" name="name" /></p>
							<p><span>手机号码</span><input type="text" placeholder="请输入您的手机号码" name="phone" /></p>
							<p><span>邮箱</span><input type="text" placeholder="请输入您的邮箱" name="email" /></p>
							<p><span>从业年限</span><input type="text" placeholder="请输入您的从业年限" name="worktime" /></p>
							<p>
								<span>所在省份</span>
								<!--省市两级联动插件-->
								<span id="distpicker4" style="display: inline-block;width: 21.333333rem;">
									<select class="lFloat" name="province"></select>
									<select name="city"></select>
								</span>
							</p>
						</form>
						<p class="submitP">
							<span></span>
							<button @click="addZJH(1)">立即提交</button>
						</p>
					</div>
					
					<div class="rFloat person">
						<h3>超过1000位设计师</h3>
						<h3 class="bottomLine">加入筑家优品设计师俱乐部</h3>
						<p class="text">
							由量房设计师、室内设计师、软装设计师、结构设计师、工艺设计师组成的强大设计团队，为您一个人服务，一次性为您解决空间，搭配等家居问题。
						</p>
						<div class="personPic">
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
						</div>
					</div>
				</div>
				
				<div class="clearfix box">
					<div class="lFloat formMsg">
						<h3>工长俱乐部</h3>
						<form action="" method="post" id="foreMan">
							<p><span>姓名</span><input type="text" placeholder="请输入您的姓名" name="name" /></p>
							<p><span>手机号码</span><input type="text" placeholder="请输入您的手机号码" name="phone" /></p>
							<p><span>邮箱</span><input type="text" placeholder="请输入您的邮箱" name="email" /></p>
							<p><span>从业年限</span><input type="text" placeholder="请输入您的从业年限" name="worktime" /></p>
							<p>
								<span>籍贯</span>
								<!--省市两级联动插件-->
								<span id="distpicker5" style="display: inline-block;width: 21.333333rem;">
									<select class="lFloat" name="province"></select>
									<select name="city"></select>
								</span>
							</p>
							<p>
								<span>所在省份</span>
								<!--省市两级联动插件-->
								<span id="distpicker6" style="display: inline-block;width: 21.333333rem;">
									<select class="lFloat" name="nowprovince"></select>
									<select name="nowcity"></select>
								</span>
							</p>
						</form>
						<p class="submitP">
							<span></span>
							<button @click="addZJH(2)">立即加入</button>
						</p>
					</div>
					
					<div class="rFloat person">
						<h3>超过1000位工长</h3>
						<h3 class="bottomLine">加入筑家优品工长俱乐部</h3>
						<div class="personPic">
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
						</div>
					</div>
				</div>
				
				<div class="clearfix box">
					<div class="lFloat formMsg">
						<h3>筑家整体家装联盟</h3>
						<form action="" method="post" id="homedressAliance">
							<p><span>公司名称</span><input type="text" placeholder="请输入您的姓名" name="comName" /></p>
							<p><span>联系人</span><input type="text" placeholder="请输入联系人姓名" name="contacts" /></p>
							<p><span>手机号码</span><input type="text" placeholder="请输入联系人手机号码" name="phone" /></p>
						</form>
						<p class="submitP">
							<span></span>
							<button @click="addZJH(3)">立即加入</button>
						</p>
					</div>
					
					<div class="rFloat person">
						<h3>超过1000家公司</h3>
						<h3 class="bottomLine">加入筑家整体家装联盟</h3>
						<div class="personPic">
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
						</div>
					</div>
				</div>
				
				<div class="clearfix box">
					<div class="lFloat formMsg">
						<h3>筑家家博会</h3>
						<form action="" method="post" id="jiabohui">
							<p><span>品牌名称</span><input type="text" placeholder="请输入您的品牌名称" name="brandName" /></p>
							<p><span>公司名称</span><input type="text" placeholder="请输入您的公司名称" name="comName" /></p>
							<p><span>联系人</span><input type="text" placeholder="请输入联系人姓名" name="contacts" /></p>
							<p><span>手机号码</span><input type="text" placeholder="请输入联系人手机号码" name="phone" /></p>
						</form>
						<p class="submitP">
							<span></span>
							<button @click="addZJH(4)">立即加入</button>
						</p>
					</div>
					
					<div class="rFloat person">
						<h3>超过1000家企业</h3>
						<h3 class="bottomLine">加入筑家整家博会</h3>
						<div class="personPic">
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
							<img src="images/headImg.jpg"/>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<%-include paging  %>
		<%-include footer  %>
	</div>
	
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/zjh.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>