<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>筑家生活家</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/zjshj.css" />
		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/distpicker.data.js"></script>
		<script src="js/lib/distpicker.js"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>

		<div class="zjshjWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="zjshjMain">
				<img src="images/banner_2.png" class="banner" />

				<div class="regionFilter">
					<!--省市区三级联动插件-->
					<div id="distpicker5" class="lFloat" style="margin-bottom: 2rem;">
						<select v-model="province" class="province" @change="showLifeHomeList()"></select>
						<select v-model="city" @change="showLifeHomeList()"></select>
						<select v-model="district" @change="showLifeHomeList()"></select>
					</div>
				</div>

				<div class="content">
					
					<!--没有数据展示-->
					<p class="noData" v-if="lifeHomeList==''">
						<img src="../build/images/zjshj_search.png" />
						<span>所选区域暂无生活家</span>
					</p>
					
					<ul class="clearfix">
						<li v-for="item in lifeHomeList">
							<a href="#" @click="toSHJDetail(item.id)">
								<img :src="item.bgImage" class="furniturePic" />
								<img :src="item.headP" class="personPic" />
								<p>
									<span class="name">{{item.name}}</span><br />
									<img src="images/position.png" /><span class="position">{{item.province}}{{item.city}}{{item.district}}</span>
								</p>
							</a>
						</li>
					</ul>
				</div>
				<%-include paging  %>
			</div>
			<%-include footer  %>
		</div>

		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/zjshj.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>